.DataPanel {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: calc(100%);
  left: 0;
  height: calc(100% - 0px);
  width: calc(100% - 0px);
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  transform: translateY(-48px); }
  .DataPanel.bounce .expand {
    animation: bounce 500ms cubic-bezier(0.4, 0, 0.2, 1); }

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(90deg); }
  50% {
    transform: translateY(-8px) rotate(90deg); }
  100% {
    transform: translateY(0) rotate(90deg); } }
  .DataPanel.full {
    transform: translateY(-100%); }
  .DataPanel .insides {
    position: relative;
    height: 100%;
    width: 100%; }
    .DataPanel .insides .expand-button {
      width: 100%;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .DataPanel .insides .expand-button .expand {
        transform: rotate(90deg);
        width: 16px;
        height: 16px;
        opacity: 0.8;
        transition: transform 220ms cubic-bezier(0.4, 0, 0.2, 1); }
        .DataPanel .insides .expand-button .expand.retract {
          transform: rotate(-90deg); }
    .DataPanel .insides .current-dataset {
      display: flex;
      width: 100%;
      height: 24px;
      justify-content: center;
      align-items: center;
      color: #9b9b9b; }
    .DataPanel .insides .info {
      padding: 16px;
      height: calc(100% - 72px);
      position: relative; }
      .DataPanel .insides .info .data-content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto; }
        .DataPanel .insides .info .data-content .data-sources {
          width: 100%;
          max-height: calc(100% - 160px);
          overflow: auto; }
          .DataPanel .insides .info .data-content .data-sources ul {
            list-style-type: none;
            padding: 0;
            overflow: auto; }
            .DataPanel .insides .info .data-content .data-sources ul li {
              margin: 8px 0 8px 0; }
          .DataPanel .insides .info .data-content .data-sources .example-json {
            color: #9b9b9b;
            text-align: center; }
            .DataPanel .insides .info .data-content .data-sources .example-json:visited {
              color: #9b9b9b; }
            .DataPanel .insides .info .data-content .data-sources .example-json .url {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: #9b9b9b; }
          .DataPanel .insides .info .data-content .data-sources .data-source {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between; }
            .DataPanel .insides .info .data-content .data-sources .data-source .name {
              font-weight: 700;
              padding-right: 8px; }
            .DataPanel .insides .info .data-content .data-sources .data-source .url {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: #9b9b9b; }
            .DataPanel .insides .info .data-content .data-sources .data-source .actions {
              display: flex;
              flex-direction: row; }
              .DataPanel .insides .info .data-content .data-sources .data-source .actions .remove {
                padding: 4px 8px 4px 8px;
                border-radius: 4px;
                border: 1px solid #ffb9a7;
                margin: 0 4px 0 4px;
                color: #9b9b9b; }
                .DataPanel .insides .info .data-content .data-sources .data-source .actions .remove:hover {
                  border: 1px solid #c41e1e; }
              .DataPanel .insides .info .data-content .data-sources .data-source .actions .load {
                padding: 4px 8px 4px 8px;
                border-radius: 4px;
                border: 1px solid #6fb5ff;
                margin: 0 4px 0 4px;
                color: #9b9b9b; }
                .DataPanel .insides .info .data-content .data-sources .data-source .actions .load:hover {
                  border: 1px solid #256ab3; }
        .DataPanel .insides .info .data-content .controls {
          width: 100%;
          height: 160px;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #9b9b9b; }
          .DataPanel .insides .info .data-content .controls .table {
            width: calc(100% - 16px);
            display: flex;
            flex-direction: column;
            margin: 4px 8px 16px 8px;
            font-weight: 300;
            color: #9b9b9b; }
            .DataPanel .insides .info .data-content .controls .table .row {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: baseline;
              margin: 4px 0 4px 0; }
              .DataPanel .insides .info .data-content .controls .table .row .bold {
                font-weight: 400; }
          .DataPanel .insides .info .data-content .controls .text-input {
            padding: 0 0 0 0;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
            box-shadow: none;
            border-style: solid;
            border-color: #9b9b9b;
            color: #9b9b9b;
            border: none;
            border-bottom: 1px solid #9b9b9b;
            border-width: 1px;
            min-width: 140px;
            font-size: 14px;
            text-align: end;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }
            .DataPanel .insides .info .data-content .controls .text-input:focus {
              outline: none;
              border-bottom: 1px solid #6fb5ff; }
          .DataPanel .insides .info .data-content .controls .add-data-button {
            margin: 8px 0 0 0;
            padding: 4px 8px 4px 8px;
            border: 1px solid #e9e9e9;
            border-radius: 4px; }
            .DataPanel .insides .info .data-content .controls .add-data-button:hover {
              border: 1px solid #9b9b9b; }
          .DataPanel .insides .info .data-content .controls .submit-data-button {
            margin: 8px 0 0 0;
            padding: 4px 8px 4px 8px;
            border: 1px solid #e9e9e9;
            border-radius: 4px;
            color: #9b9b9b; }
            .DataPanel .insides .info .data-content .controls .submit-data-button:hover {
              border: 1px solid #256ab3; }
          .DataPanel .insides .info .data-content .controls .cancel-data-button {
            margin: 8px 16px 0 0;
            padding: 4px 8px 4px 8px;
            border: 1px solid #e9e9e9;
            border-radius: 4px;
            color: #9b9b9b; }
            .DataPanel .insides .info .data-content .controls .cancel-data-button:hover {
              border: 1px solid #c41e1e; }
