@import 'base.scss';

.Flowmap {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  .edge {
    fill: none;
    // stroke: $dark-red;    
    opacity: 0.25;

    &.copy {
      // stroke: #bdbdf0;
    }
  }

  .node {
    &.output {
      stroke-width: 1px;
      stroke: $light-grey;
      fill: transparent;

      &.selected {
        fill: $light-red;
        stroke: transparent;
      }
    }
  }
}