@import 'base.scss';

.Flowmap {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  .event-panel {
    fill: transparent;
  }

  .edge {
    fill: none;
    opacity: 0.5;
    pointer-events: none;

    &.copy {
    }

    &.faded {
      opacity: 0.02;
    }
  }

  .node {
    &.output {
      stroke-width: 1px;
      stroke: $light-grey;
      // fill: #fff;


      &.selected {
        // fill: $light-red;
        stroke: transparent;
      }
    }

    &.input {
      cursor: default;
    }
  }

  .text {
    font-size: 10px;
    font-weight: 400;
    user-select: none;
    pointer-events: none;

    &.copy {
      fill: $medium-grey
    }

    .pos {
      font-weight: 300;
      font-family: 'Roboto', serif;
      font-style: italic;
      fill: $medium-grey;

      &.copy {
        fill: $light-grey;
      }
    }
  }

  .grabbable {
    cursor: grab;
    cursor: -webkit-grab;
  }

  .grabbed {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  .clickable {
    cursor: pointer;
  }

  .cancel {
    cursor: no-drop;
  }

  .extendable {
    cursor: ns-resize !important;
  }
}