@import 'base.scss';

.OutputText {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 24px - 400px);  // height of title, max height of control panel

  .content {
    .text {
      padding: 8px;
      // cursor: default;
      overflow: auto;
  
      .token {
        &.selected {
          background-color: $light-red;
        }

        &.novel {
          font-family: 'Playfair Display', serif;
          font-style: italic;
          font-weight: 400;
        }

        &.copy {
        }
  
        &::selection {
          background: transparent;
        }
      }
    }
  }
}