.OutputText {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 24px - 400px); }
  .OutputText .content .text {
    padding: 8px;
    overflow: auto; }
    .OutputText .content .text .token.selected {
      background-color: #ffb9a7; }
    .OutputText .content .text .token.novel {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 400; }
    .OutputText .content .text .token::selection {
      background: transparent; }
